/* .Header {
  text-align: left;
} */

.App-header {
  background-color: #fff;
  min-height: 30vh;
  display: flex;
  align-items: center;
  font-size: calc(7px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #DE284C;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
